#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display:none;
}
body{

  
  
  background-color: rgb(93, 205, 233);
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal;
  line-height:25px; 
  font-size:15px;
  /*margin on koko alueen marginaali.*/
  margin:20px 10px 20px 10px;
  /*padding on alueen sisällä oleva marginaali.*/
  padding: 10px;


}

  h1{
  color: #4D5F3A;
  text-align:center;
  }

  

  .linkkilista{
  margin-top:10px;
  border:1px #171816;



  }

  .linkkilista h2{
  text-align: center;
  color: #50950A;

  }
  .linkkilista ul{
    list-style-type: none;
  }
  .linkkilista li{
    border-bottom: double 1px floralwhite;
  }

  a{
    text-decoration:none;
    color: rgb(255, 0, 13);

  }
  a:hover{
    color: red;
  }
  a:visited{
    color:black;
  }
  .nappula{
    background-color: rgb(109, 235, 59); 
    color:rgb orangered;
  }
  .asemointi{
    position: fixed;
    top:10px;
    left:0px;
  }
  .laatikko{
    float:left;
    width:25%;
    border:2px solid; 
    color:  #433A5F;
    border-radius:40px;
    padding:10px;
    padding-bottom: 10%;
    box-sizing:border-box;
    //miten laatikot saa sman korkuisiksi?
  }

  .post{
    
    width: 80%;
    margin: auto;
    text-align:center;
    border:2px solid; 
    color: #433A5F;
    background-color: whitesmoke;
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;

    /*jos tähän laittaa marginaalin keskitys katoaa?*/
  }

  .post2{


    /*border:2px solid; 
    color: #433A5F;
    background-color: whitesmoke;
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;*/
    
    border:2px solid; 
    color: #433A5F;
    background-color: rgb(228, 228, 240);
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;
    width: 80%;
    text-align:center;
    margin: auto;


    
  
    
  }



  .post3{
    
    background-image: url("maisema.jpg");
    background-position:xpos 30% ypos 80%;
    color: white;
    border:2px solid; 
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;
    width: 80%;
    margin: auto;
    
  }
  .luistelu{
  display: block;
  margin-left: auto;
  margin-right: 60px;
  width: 40%; 
  }

  .post4{
    
    
    border:2px solid; 
    color: rgb(16, 15, 17);
    border-radius:10px;
    padding:10px;
    box-sizing:border-box;
    width: 80%;
    margin: auto;
  }

  .Nortti{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
  }

  .yhteydenotto label{
    display:block;
    }
  .yhteydenotto input[type="text"], yhteydenotto textarea{
    padding:10px;
    width:95%;
  }
  .alue1{ 
    width: 70%; 
    text-align: center;
    margin:auto;
    /*miksi borderin värin vaihtaminen vaihtaa myös tekstin värin?*/
    border:10px solid double; 
    color:  #433A5F;
    border-radius:80px;
    border-style: double;
    padding:10px;
    background-color: rgb(155, 241, 41);
  }
  .alue2{
    text-align: center;
  }


  a{
    text-decoration:none;
    color: lime;

  }
  a:hover{
    color:yellow;
  }
  a.visited{
    color: cyan
  }

  .kelluva :hover{
    color:green;
  }

  /*function myFunction(){
    var document.getElemenById("myDiv");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}*/
